@import url('../node_modules/normalize.css/normalize.css');

* {
  box-sizing: border-box;
}

body {
  padding: 24px;
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

  font-family: "Ubuntu", serif;

  height: 100vh;
}

.markdown-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.markdown-container {
  height: calc(50vh - 48px);
  padding: 18px 12px;
  font-size: 18px;
  outline: none;
  background-color: #fff;
}

.markdown-output {
  height: calc(50vh - 48px);
  padding: 18px 12px;
  font-size: 18px;
  outline: none;
  background-color: #fff;

  code {
    background-color: #eee;
  }

  blockquote {
    background-color: #eee;
    border-left: 3px solid peachpuff;
    margin: 0;
    padding: 24px;
  }
}